

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
.banner img {
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: auto; /* takes the 100 % height of its container (.box div)*/
  display: block;
  }
  .banner {
    width: 100%;
    height: auto;
    overflow: hidden; 
                }
  .banner img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 500px; /* takes the 100 % height of its container (.box div)*/
    display: block;
    }


.banner {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.background-color{
  padding: auto;
  margin: 20px;
}
.bannerDasboard{
  width: 100%;
  height: 220px;
}

.tittleDasboard{
  font-size: 60px;
}
.h3{
  margin-left: 50px;
}

./*footerDasboard {
  background-color: blue;
  color: #efe8e8;
  position: stat;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  text-align: center;
  display: flex;
  align-items: center;
}*/

.bannerEdit,.bannerView { 
  width: 100%;
  height: 55%;
}
.titleDashboard {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
}

.titleDashboard-white {
  color: white;
}

.titleDashboard-red {
  color: red;
}



.bodyIndex{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  
background-image: url('https://wallpaper.dog/large/854284.jpg');
background-size:cover;
background-position: center;
background-repeat: no-repeat;
}


.main{
  width: 350px;
  height: 600px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk{
  display: none;
}
.signup{
  position: relative;
  width:100%;
  height: 100%;
}
.labelIndex{
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.inputIndex{
  width: 60%;
  height: 20px;
  background: white;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background:#04223c;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
button:hover{
  background: #0223fd;
}
.login{
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.login label{
  color: #f70000;
  transform: scale(.6);
}

#chk:checked ~ .login{
  transform: translateY(-500px);
}
#chk:checked ~ .login label{
  transform: scale(1);    
}
#chk:checked ~ .signup label{
  transform: scale(.6);
}
.sidebar {

padding: 10px;
width: 400px;
float: left;
}

h1 {
margin: 0;
color: white;
font-size: 50px;
}


footer {
  background-color: #236588;
  padding: 20px 0;
  margin-top: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  
  .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
    
  }
}
